.card_list {
  display: flex;
  overflow-x: scroll;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 250px;
  min-width: 250px;
  padding: 1rem;

  border-radius: 16px;
  background: #17141d;
  box-shadow: -0.8rem 0 1rem #000;

  transition: 0.2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(60px);
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card_list::-webkit-scrollbar {
  height: 12px;
}

.card_list::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 10px;
}

.card_list::-webkit-scrollbar-track {
  background: transparent;
}

.card_list::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(#ef4444, #d946ef);
}

.card_list::-webkit-scrollbar-thumb:active {
  background-image: radial-gradient(#ef4444, #d946ef);
}
